<div class="container">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">

    <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">


      <input type="text" placeholder="餐廳名稱（必填）" name="name" value="{{ restaurant.name }}" class="mb-2 form-control"
        style="width: 300px;" required>


      <input type="text" placeholder="英文名稱" name="name_en" value="{{ restaurant.name_en }}" class="mb-2 form-control">

      <input type="text" placeholder="餐廳類型（必填） ex: 酒吧、義式、泰式" name="category" value="{{ restaurant.category }}"
        class="mb-2 form-control" required>

      <input type="url" placeholder="圖片網址" name="image" value="{{ restaurant.image }}" class="mb-2 form-control">

      <input type="text" placeholder="地址" name="location" value="{{ restaurant.location }}" class="mb-2 form-control">

      <input type="tel" placeholder="電話" name="phone" value="{{ restaurant.phone }}" class="mb-2 form-control">

      <input type="text" placeholder="google_map" name="google_map" value="{{ restaurant.google_map }}"
        class="mb-2 form-control">

      <input type="number" placeholder="評分 0 ~ 5（必填）" step="0.1" min="0" max="5" name="rating"
        value="{{ restaurant.rating }}" class="mb-2 form-control" required>

      <input type="text" placeholder="簡介" name="description" value="{{ restaurant.description }}"
        class="mb-2 form-control">

      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center align-items-center">
        <div class="btn-save mr-3">
          <button type="submit" class="btn btn-outline-info btn-sm">Save</button>
        </div>
        <div class="back-link">
          <a href="/" style="color: #0088A8;">back</a>
        </div>
      </div>
    </form>


  </div>
</div>